{{#if userInSession}}

<h2>Property Update</h2>
<div class="row">
  <div class="col-md-6">
    <form action="property/details/{{id}}/edit" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label>Title:
          <input type="text" name="title" class="form-control" value="{{title}}" />
        </label>
      </div>
 
      <div class="form-group">
        <label>Description:
          <textarea name="description" cols="30" rows="4" class="form-control">{{description}}
          </textarea>
        </label>
      </div>
 
      <div class="form-group">
        <label>Image:
          <input type="file" name="property-cover-image" class="form-control-file" />
          <input type="text" name="existingImage" hidden value="{{imageUrl}}">
        </label>
      </div>
 
      <a href="" class="btn btn-success">Save changes</a>
      
 
    </form>
  </div>
</div>
{{else}}
    <p>You need to login</p>
  <hr />
{{/if}}