<h1>{{title}}</h1>

{{!-- {{#each comments}}
  <p><b>{{this.owner.username}}:</b> {{this.k}}</p>
{{/each}} --}}
{{!-- 
<h3>Add comment</h3>
 
 <form action="/property/details/{{_id}}" method="post">
  <label> Your username:
    <input type="text" name="author" />
  </label>
 
  <input type="text" name="postAuthor" value="{{author.username}}" hidden />
  <textarea name="content" cols="30" rows="2"></textarea>
 
  <button type="submit">Comment</button>
</form>
<a href="/property/details/{{id}}">EDIT here</a> --}}
